<avc-page title="Snake Details">
  <!-- TODO: Set title programmatically w/ snake name or something. -->

  <input
    id="id"
    type="hidden"
  />

  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input
        id="name"
        class="input"
        type="text"
        placeholder="e.g. Simmington"
      />
    </div>
  </div>

  <div class="field">
    <label class="label">Color</label>
    <div class="control">
      <input
        id="color"
        class="input"
        type="text"
        placeholder="e.g. Black"
      />
    </div>
  </div>

  <div class="field">
    <label class="label">Meanness</label>
    <div class="control">
      <input
        class="input"
        id="meannessLevel"
        type="number"
        placeholder="e.g. 23"
      />
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button
        class="button is-success"
        id="save"
      >
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
        <span>Save</span>
      </button>
    </div>
    <div class="control">
      <button
        id="cancel"
        class="button is-link is-light"
      >
        Cancel
      </button>
    </div>
  </div>
</avc-page>
