<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head is-danger">
      <p
        class="modal-card-title is-3"
        style="color: rgba(255, 0, 0, 0.3); font-weight: 700"
      >
        Error
      </p>
      <button
        id="close"
        class="delete"
        aria-label="close"
      ></button>
    </header>
    <section class="modal-card-body">
      <p
        class="subtitle is-4"
        id="message"
      >
        Invalid Something Target
      </p>
      <p id="details">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        consectetur mi vitae convallis cursus. Donec sit amet ante sodales,
        condimentum eros vitae, fringilla ipsum. Aliquam dapibus, nulla sit amet
        varius fringilla, diam ex tempus dolor, quis convallis erat velit at mi.
        Quisque ut congue ipsum. Curabitur auctor viverra leo id dignissim.
        Maecenas consectetur fermentum dolor, eu finibus massa feugiat id. Donec
        nec elementum tellus. Curabitur eu erat a justo viverra interdum nec id
        ipsum. Aliquam erat volutpat. Vivamus ut dapibus lorem, nec blandit
        urna.
      </p>
    </section>
  </div>
</div>
