<style>
  @import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';
  @import 'https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css';
</style>
<div class="card m-5">
  <header class="card-header">
    <h1 class="card-header-title">Beverage</h1>
  </header>
  <div class="card-content">
    <div class="container">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input
            id="name"
            class="input"
            type="text"
            placeholder="e.g. Simmington"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Color</label>
        <div class="control">
          <input
            id="color"
            class="input"
            type="text"
            placeholder="e.g. Black"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Meanness</label>
        <div class="control">
          <input
            class="input"
            id="meannessLevel"
            type="number"
            placeholder="e.g. 23"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Pay Grade</label>
        <div class="control">
          <input
            class="input"
            id="payGrade"
            type="text"
            readonly
          />
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button
            class="button is-success"
            id="save"
          >
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
            <span>Save</span>
          </button>
        </div>
        <div class="control">
          <button
            id="cancel"
            class="button is-link is-light"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
